@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .nav-link {
    @apply text-blue-700 dark:text-pink-300 hover:text-pink-500 dark:hover:text-cyan-300 font-bold transition-colors underline-offset-4 tracking-wide drop-shadow-lg;
  }
  .nav-link.active {
    @apply text-pink-600 dark:text-cyan-300 font-extrabold underline scale-110;
  }
  .dark .nav-link {
    @apply text-pink-300 hover:text-cyan-300 font-bold;
  }
  .dark .nav-link.active {
    @apply text-cyan-300 font-extrabold underline scale-110;
  }
}